<div class='jumbotron'>
  <form class="form-horizontal" {{action "login" on='submit'}}>

    <div  class="form-group">
      <label for='username'>Username :</label>
      {{input value=username id='username'}}
    </div>

    <div  class="form-group">
      <label for='password'>Username :</label>
      {{input type='password' value=password id='password'}}
    </div>

    <button class="btn btn-primary btn-block" type="submit">Sign In</button>
  </form>
</div>
