.profile {
  z-index: 100;

  color: white;

  text-align:   center;
  width:        100%;
  margin-top:    25px;

  margin-bottom: 25px;

  > img {
    width:          80px;
    height:         80px;
    border-radius:  50%;
    overflow:       hidden;
  }

  .name {
    margin-top: 10px;
    font-size: 130%;
  }

  .description {
    color: lightgray;
    margin-top: 3px;
  }
}
