<nav class="header fadein transparent">
    <div class="background"></div>
    <div class="wrapper">
      <div class="inner">
        <a class="logo" href="">Phubo</a>
        <div class="right">
          {{#link-to 'session.login' classNames='signup submit'}}Sign Up{{/link-to}}
          {{#link-to 'session.login' classNames='login'}}Log In{{/link-to}}
        </div>
      </div>
    </div>
  </nav>