{
  "env": {
    "browser": true,
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true,
    "jsx":      true,
    "modules":  true
  },
  "extends": "airbnb",
  "rules": {
    "quotes": [2, "single"],
    "prop-types": 0,
    "key-spacing":  0,
    "no-multi-spaces": 0
  }
}
