
<div class='main'>
  <div class='container'>
    <h1></h1>

    <h2>{{model.name}}</h2>

    {{#each model.authorizations}}
    <p><i class="fa fa-facebook-square"></i></p>
    {{/each}}

    <button {{action 'addFacebookAuth'}} ><i class="fa fa-facebook-square"></i> Link a Facebook account</button>
  </div>
</div>
