
<div class='main'>
  <div class='container'>

    <div class='row'>
      <div class='col-sm-8'>
        <h3>
          Profile
          <small> set and update your informations </small>
        </h3>
      </div>
    </div>


    <div class='row'>
      <div class='col-sm-8'>
        <h4>General</h4>

        <form class="form-horizontal" {{action "update" on='submit'}}>

          <div class="form-group has-default">
            <label class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
              {{input value=model.name placeholder="Username" classNames='form-control'}}
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-8'>
        <h4>External authorizations</h4>
      </div>

      {{#each auth in model.authorizations}}
        <p><i class="fa fa-facebook-square"></i></p>
      {{/each}}
    </div>

    <button {{action 'addFacebookAuth'}} ><i class="fa fa-facebook-square"></i> Link a Facebook account</button>
  </div>
</div>
