/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

html { overflow-y: scroll; }

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

html {
  height: 100%;
  font-style:   normal;
  font-family:  'Raleway', "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size:    12px;
}

html, body {
  min-height: 100%;
  h1 {
    font-size:    24px;
    font-weight:  400;
  }
}

body {
  height: 100%;

  #background {
    content: '';
    display: block;
    z-index: -1;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-size:  cover;
    background-image: url('/assets/img/home-bg.jpg');

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    margin: -10px;
    opacity: 0.4;
  }

  .application {

		.session-login-layout {
			position: absolute;
			text-align: center;
			height: 150px;

			margin: auto;

			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

    .index-layout, .user-me-layout {
      position: absolute;

			-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

			background-color: #FDFEFF;

			top:	15px;
			right: 15px;
			left: 15px;
			bottom: 15px;

			overflow: hidden;

			border-radius: 5px;

      color: #9E9FA0;

      text-align: center;
    }
  }
}

.centered-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

// .photo {
//   display:  inline-block;
//   width:    150px;
//   height:   150px;
//   padding:  5px;
//
//   img {
//     width:  100%;
//     height: auto;
//   }
// }

a {
	cursor: pointer;
}

.menu {
	width: 250px;

	color: #D7D8D7;

	background: linear-gradient(#232E2C, #1D2830);

	&.left {
		-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
	}
}

ul.menu {
	li {
		position: relative;
		height: 30px;
		padding: 10px;
	}

	.profile {
		padding-top: 15px;
		display:table;
		width:100%;
		table-layout:fixed;

		font-size: 18px;

		height: 30px;

		border-bottom: 1px solid #8F9498;

		.cell {
			display:table-cell;
			text-align:center;
			vertical-align: middle;
			height: 100%;

			&.photo {
				width: 50px;

				vertical-align: text-bottom;

				img {
					border: 1px solid #8F9498;
					border-radius: 50%;

					width: 32px;
					height: 32px;
				}
			}

			&.name {
				padding-left: 15px;
				text-align: left;
				font-weight: 500;
				text-transform: capitalize;
			}

			&.logout {
				width: 50px;
				font-size: 24px;
			}
		}
	}
}
