<section class="masthead">
  <div class="text_wrap">
    <h1>Store, Explore, Share</h1>
    <h2>Make the best out of your photos</h2>
    <a class="button large on-image" data-ga-action="Click Get Started" data-ga-category="Homepage Masthead" href="/signup">Get started</a>
  </div>
  <a class="scroll_arrow" href="#more">
    <img src="//assetcdn.500px.org/assets/home/arrrow_down2@2x-c1ef6b59115c590e1977cc28eac1d35c.png" style="opacity: 1;">
  </a>
</section>

<section class="split-container">
  <div class="split">
    <div class="photographer user">
      <div class="icon"></div>
      <h3>Pour toi public</h3>
      <p>Le beauf est un personnage fascinant</p>
      <a class="button" data-ga-action="Click Photographer" data-ga-category="Homepage User Split" href="/signup?r=/upload">Sign Up</a>
    </div>
    <div class="publisher user">
      <div class="icon"></div>
      <h3>Enter the matrix</h3>
      <p>Viens, à la maison, ya les oiseaux, qui chantent...</p>
      <a class="button" data-ga-action="Click Publisher" data-ga-category="Homepage User Split" href="https://prime.500px.com?utm_source=500px&amp;utm_medium=referral&amp;utm_content=prime_promo%202&amp;utm_campaign=home%20page">Log In</a>
    </div>
  </div>
</section>

<div class='jumbotron'>
  <h2>Welcome to Phubo</h2>
  <div>
    {{#link-to 'session.login'}}Sign In{{/link-to}}
  </div>
</div>
