{{#if controllers.flashNotifications.currentMessage}}
  <div class='flash alert alert-{{flash-message-klass controllers.flashNotifications.currentMessage.type}}'>
    <div class='container'>
      {{controllers.flashNotifications.currentMessage.text}}<i class=" fa fa-times form-control-feedback"></i>
    </div>
  </div>
{{/if}}
