<div id="navbar-full">
  <div id="navbar">
    <nav class="header fadein navbar navbar-ct-white navbar-fixed-top navbar-transparent" role="navigation">
      <div class="alert alert-success hidden">
        <div class="container">
            <b>Lorem ipsum</b> dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        </div>
      </div>

      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">phubo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {{#if controllers.session.isLoggedIn}}
              <li>{{#link-to 'session.logout' classNames=''}}Log Out{{/link-to}}</li>
              <li>{{#link-to 'users.me' classNames='btn btn-round btn-default'}}{{controllers.session.username}}{{/link-to}}</li>
            {{else}}
              <li>{{#link-to 'session.login' classNames=''}}Log In{{/link-to}}</li>
              <li>{{#link-to 'session.register' classNames='btn btn-round btn-default'}}Sign Up{{/link-to}}</li>
            {{/if}}
           </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div><!--  end navbar -->
</div>
